<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>G-Day</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Kamloops G-Day</h3>
        </div>
 
        <div class="jumbotron" style="background-image: url(../static/images/kamloops.jpg); background-size: cover;">
            <h1 style="color:white;">Garbage Day</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p><br><br><br><br>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Welcome to this work in progress</h4>
                <p>Thanks for visiting :-)</p>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; Legal Stuff 2015</p>
        </footer>
 
    </div>
</body>
 
</html>
